<ion-split-pane
  contentId="main-content"
  when="md">

  <ion-menu
    contentId="main-content"
    type="overlay"
    menuId="main-menu">

    <ion-content>

      <!-- USER CARD -->

      <div class="menu-header">

        <div class="avatar-container">

          <div class="avatar">
            {{ usuario?.nombre ? usuario?.nombre!.charAt(0).toUpperCase() : 'U' }}
          </div>

        </div>

        <div class="user-info">

          <ion-label class="user-name">
            {{ usuario?.nombre || 'Usuario' }}
          </ion-label>

          <ion-label class="user-email">
            {{ usuario?.correo || 'correo@ejemplo.com' }}
          </ion-label>

        </div>

      </div>

      <!-- MENU -->

      <ion-list id="inbox-list">

        @for (p of appPages; track p) {

          <ion-menu-toggle auto-hide="false">

            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected">

              <ion-icon
                slot="start"
                [src]="'assets/icon/' + p.icon + '.svg'">
              </ion-icon>

              <ion-label>
                {{ p.title }}
              </ion-label>

            </ion-item>

          </ion-menu-toggle>

        }

      </ion-list>

      <!-- FOOTER -->

      <div class="menu-footer">

        <ion-item
          lines="none"
          button
          detail="false"
          class="logout-item"
          (click)="logOut()">

          <ion-icon
            slot="start"
            src="assets/icon/exit.svg">
          </ion-icon>

          <ion-label>
            Cerrar sesión
          </ion-label>

        </ion-item>

      </div>

    </ion-content>

  </ion-menu>

  <!-- CONTENT -->

  <div
    class="ion-page"
    id="main-content">

    <ion-header>

      <ion-toolbar class="side-menu">

        <ion-buttons slot="start">

          <ion-menu-button
            color="light"
            menuId="main-menu">
          </ion-menu-button>

        </ion-buttons>

      </ion-toolbar>

    </ion-header>

    <div class="router-container">

      <router-outlet></router-outlet>

    </div>

  </div>

</ion-split-pane>
