<ion-content
  [fullscreen]="true"
  class="auth-content"
  scroll-y="false">

  <!-- BACKGROUND -->

  <div class="background-curve"></div>

  <!-- CONTAINER -->

  <div class="login-container">

    <!-- HEADER -->

    <div class="header">

      <ion-img
        src="assets/image/logo-finvia-white.png"
        class="logo">
      </ion-img>

      <h1 class="text-title login-title">
        Bienvenido
      </h1>

      <p class="text-body login-subtitle">
        Inicia sesión para continuar
      </p>

    </div>

    <!-- FORM -->

    <form
      class="login-form"
      [formGroup]="loginForm">

      <!-- EMAIL -->

      <ion-item
        lines="none"
        class="form-item">

        <ion-icon
          slot="start"
          src="assets/icon/mail.svg">
        </ion-icon>

        <ion-input
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
          required>
        </ion-input>

      </ion-item>

      <!-- PASSWORD -->

      <ion-item
        lines="none"
        class="form-item">

        <ion-icon
          slot="start"
          src="assets/icon/password.svg">
        </ion-icon>

        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          formControlName="password"
          required>
        </ion-input>

        <ion-button
          type="button"
          fill="clear"
          slot="end"
          class="eye-toggle-btn"
          (click)="togglePassword()">

          <ion-icon
            [src]="showPassword
              ? 'assets/icon/eye-outline.svg'
              : 'assets/icon/eye-off-outline.svg'">
          </ion-icon>

        </ion-button>

      </ion-item>

      <!-- ACTIONS -->

      <div class="section">

        <!-- FORGOT PASSWORD -->

        <div class="label-links">

          <ion-button
            expand="block"
            fill="clear"
            size="small"
            class="forgot-link"
            (click)="forgotPassword()">

            ¿Olvidaste tu contraseña?

          </ion-button>

        </div>

        <!-- LOGIN -->

        <ion-button
          expand="block"
          shape="round"
          class="login-btn text-button"
          (click)="login()">

          Iniciar sesión

        </ion-button>

        <!-- DIVIDER -->

        <ion-text class="ion-text-center label-links">

          <p class="text-caption">
            ó
          </p>

        </ion-text>

        <!-- REGISTER -->

        <ion-button
          expand="block"
          shape="round"
          class="login-btn text-button"
          (click)="goToRegister()">

          Crear una cuenta

        </ion-button>

      </div>

    </form>

  </div>

  <!-- ALERTS -->

  <app-custom-alert
    *ngIf="showGenericAlert"
    header=""
    [message]="'No se pudo completar la acción. Por favor, intenta nuevamente.'"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="showGenericAlert = false">
  </app-custom-alert>

  <app-custom-alert
    *ngIf="showUnauthorizedAlert"
    header=""
    [message]="messageError"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="showUnauthorizedAlert = false">
  </app-custom-alert>

</ion-content>
