<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/prueba/screen-two"></ion-back-button>
    </ion-buttons>
    <ion-title>Pantalla 3 - Rojo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="screen-three">
  <div class="content-center">
    <h1>Pantalla 3</h1>
    <p>Esta es la tercera pantalla (Rojo)</p>
    
    <div class="button-group">
      <ion-button 
        expand="block" 
        (click)="goBack()"
        fill="outline"
        class="nav-button"
      >
        ← Volver a Pantalla 2
      </ion-button>
      
      <ion-button 
        expand="block" 
        (click)="goToScreenOne()"
        class="nav-button"
      >
        🏠 Reiniciar (Pantalla 1)
      </ion-button>
    </div>
  </div>
</ion-content>
