<!-- ==========================================================
     HEADER
     ========================================================== -->

<div class="fv-header">

  <!-- ==========================
       LEFT
       ========================== -->

  <div class="header-left">

    <button
      *ngIf="showBack; else menuSlot"
      type="button"
      class="header-button"
      [disabled]="loading"
      (click)="onBack()">

      <ion-icon
        src="assets/icon/left.svg">
      </ion-icon>

    </button>

    <ng-template #menuSlot>

      <ng-content select="[header-left]">
      </ng-content>

    </ng-template>

  </div>

  <!-- ==========================
       TITLE
       ========================== -->

  <div class="header-center">

    <h1>

      {{ title }}

    </h1>

  </div>

  <!-- ==========================
       RIGHT
       ========================== -->

  <div class="header-right">

    <ng-content select="[header-actions]">
    </ng-content>

  </div>

</div>
