<!-- ==========================================================
     HEADER
     ========================================================== -->

<div class="fv-header">

  <!-- ==========================
       LEFT
       ========================== -->

  <div class="header-left">

    <app-item-icon
      *ngIf="showBack; else menuSlot"
      icon="left"
      color="#ffffff"
      size="md"
      variant="nav-glass"
      [interactive]="true"
      ariaLabel="Volver"
      [disabled]="loading"
      (activated)="onBack()">
    </app-item-icon>

    <ng-template #menuSlot>

      <ng-content select="[header-left]">
      </ng-content>

    </ng-template>

  </div>

  <!-- ==========================
       TITLE
       ========================== -->

  <div class="header-center">

    <h1>

      {{ title }}

    </h1>

  </div>

  <!-- ==========================
       RIGHT
       ========================== -->

  <div class="header-right">

    <ng-content select="[header-actions]">
    </ng-content>

  </div>

</div>
