:root {

  --fv-input-radius: 16px;

  --fv-input-padding-start: 16px;
  --fv-input-padding-end: 16px;

  --fv-input-background: var(--fv-surface);

  --fv-input-background-focus:
    var(--fv-surface-soft);

  --fv-input-border:
    var(--fv-border);

  --fv-input-border-focus:
    var(--fv-primary-light);

  --fv-input-shadow-focus:
    var(--fv-shadow-sm);
}
