:root {

  --shadow-xs:
    0 2px 6px rgba(15, 23, 42, .04);

  --shadow-sm:
    0 4px 10px rgba(15, 23, 42, .05);

  --shadow-md:
    0 8px 20px rgba(15, 23, 42, .08);

  --shadow-lg:
    0 12px 28px rgba(15, 23, 42, .12);

  --shadow-primary:
    0 10px 22px rgba(67,97,238,.25);

}
