:root {

  /* ==========================
     SPACING
     ========================== */

  --fv-space-xs: 4px;
  --fv-space-sm: 8px;
  --fv-space-md: 12px;
  --fv-space-lg: 16px;
  --fv-space-xl: 20px;
  --fv-space-2xl: 24px;
  --fv-space-3xl: 32px;

}
