<!-- <ion-split-pane contentId="main-content">


  <ion-content id="main-content">

    <div class="stat-card">
      <h3>35%</h3>
      <p>Proyectos</p>
    </div>
    <div class="stat-card">
      <h3>25%</h3>
      <p>Tareas</p>
    </div>
    <div class="stat-card">
      <h3>20%</h3>
      <p>Completado</p>
    </div>
    <div class="stat-card">
      <h3>20%</h3>
      <p>Pendiente</p>
    </div>
  </ion-content>
</ion-split-pane> -->

<ion-content id="main-content">

  <div class="stat-card">
    <h3>35%</h3>
    <p>Proyectos</p>
  </div>
  <div class="stat-card">
    <h3>25%</h3>
    <p>Tareas</p>
  </div>
  <div class="stat-card">
    <h3>20%</h3>
    <p>Completado</p>
  </div>
  <div class="stat-card">
    <h3>20%</h3>
    <p>Pendiente</p>
  </div>
</ion-content>