<ion-content [fullscreen]="true" scroll-y="false">
  <div class="splash-container">
    <div class="animated-background">
      <div class="gradient-orb orb-1"></div>
      <div class="gradient-orb orb-2"></div>
      <div class="gradient-orb orb-3"></div>
    </div>
    
    <div class="content-wrapper">
      <div class="logo-wrapper">
        <div class="logo-glow"></div>
        <ion-img src="assets/image/logo.png" class="logo" alt="Finvia"></ion-img>
      </div>
    </div>
  </div>
</ion-content>
