<app-base-modal
  [isOpen]="isOpen"
  [title]="selectionMode === AccountSelectionMode.SINGLE ? 'Seleccionar cuenta' : 'Seleccionar cuentas'"
  [description]="selectionMode === AccountSelectionMode.SINGLE ? 'Elige la cuenta que deseas utilizar.' : 'Selecciona una o varias cuentas para filtrar.'"
  [primaryText]="selectionMode === AccountSelectionMode.MULTIPLE ? 'Aplicar' : ''"
  [primaryDisabled]="!canConfirmSelection"
  size="lg"
  (closed)="closeModal()"
  (primary)="confirmSelection()">
  <div class="fv-account-list">
    <button
      *ngIf="selectionMode === AccountSelectionMode.MULTIPLE"
      type="button"
      class="fv-account-item fv-all-account"
      [class.selected]="selectAll"
      (click)="toggleSelectAll()">
      <app-item-icon icon="wallet" color="var(--fv-primary)" variant="soft" [selected]="selectAll"></app-item-icon>
      <div class="fv-account-content" [class.selected]="selectAll">
        <span class="fv-account-name">Todas las cuentas</span>
        <span class="fv-account-balance">Mostrar todas las cuentas</span>
      </div>
      <div class="fv-account-status" [class.selected]="selectAll">
        <ion-icon *ngIf="selectAll" class="fv-check-icon" name="checkmark"></ion-icon>
      </div>
    </button>

    <button
      *ngFor="let account of accounts"
      type="button"
      class="fv-account-item"
      [class.selected]="isSelected(account)"
      (click)="selectAccount(account)">
      <app-item-icon
        [icon]="account.icon"
        [color]="account.color"
        variant="soft"
        [selected]="isSelected(account)">
      </app-item-icon>
      <div class="fv-account-content" [class.selected]="isSelected(account)">
        <span class="fv-account-name">{{ account.name }}</span>
        <span class="fv-account-balance">{{ +account.amount < 0 ? '-' : '' }}S/. {{ (+account.amount < 0 ? -(+account.amount) : +account.amount) | number:'1.2-2' }}</span>
      </div>
      <div class="fv-account-status" [class.selected]="isSelected(account)">
        <ion-icon *ngIf="isSelected(account)" class="fv-check-icon" name="checkmark"></ion-icon>
      </div>
    </button>
  </div>
</app-base-modal>
