<div
  class="custom-segment"
  [ngClass]="segmentClass"
  role="tablist">

  <button
    *ngFor="let opt of options"
    type="button"
    class="custom-segment-btn"
    [class.active]="model === opt.value"
    [attr.aria-selected]="model === opt.value"
    (click)="onChange(opt.value)"
    role="tab">

    <div class="segment-content">

      <ion-icon
        *ngIf="opt.value === 'gasto'"
        [src]="'assets/icon/down-trend.svg'"
        class="segment-icon">
      </ion-icon>

      <ion-icon
        *ngIf="opt.value === 'ingreso'"
        [src]="'assets/icon/up-trend.svg'"
        class="segment-icon">
      </ion-icon>

      <span class="segment-label">

        {{ opt.label }}

      </span>

    </div>

  </button>

</div>
