<ion-content [fullscreen]="true" class="auth-content" scroll-y="false">
  <div class="background-curve"></div>

  <div class="login-container">
    <!-- Logo/Header -->
    <div class="header">
      <div class="back-icon" (click)="navigateToLogin()">
        <ion-icon
        class="icon"
          slot="start"
          src="assets/icon/left.svg"
        ></ion-icon>
      </div>
      <div class="account-icon">
        <ion-icon
        class="icon"
          slot="start"
          src="assets/icon/user-plus.svg"
        ></ion-icon>
      </div>
      <h1>Crea tu Cuenta</h1>
      <p>Ingresa los siguientes datos: </p>
    </div>

    <!-- Formulario -->
    <form class="login-form" [formGroup]="loginForm">
      
      <ion-item lines="none" class="form-item">
        <ion-icon
          slot="start"
          src="assets/icon/user.svg"
          color="medium"
        ></ion-icon>
        <ion-input
          type="name"
          placeholder="Nombres"
          formControlName="name"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon
          slot="start"
          src="assets/icon/user.svg"
          color="medium"
        ></ion-icon>
        <ion-input
          type="lastName"
          placeholder="Apellidos"
          formControlName="lastName"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon
          slot="start"
          src="assets/icon/mail.svg"
          color="medium"
        ></ion-icon>
        <ion-input
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon
          slot="start"
          src="assets/icon/password.svg"
          color="medium"
        ></ion-icon>
        <ion-input
          type="password"
          placeholder="Contraseña"
          formControlName="password"
          required
        >
        </ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePassword()">
          <ion-icon
            [src]="showPassword ? 'assets/icon/eye-outline.svg' : 'assets/icon/eye-off-outline.svg'"
          ></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon
          slot="start"
          src="assets/icon/password.svg"
          color="medium"
        ></ion-icon>
        <ion-input
          type="password"
          placeholder="Repite la Contraseña"
          formControlName="repeatPassword"
          required
        >
        </ion-input>
        <ion-button fill="clear" slot="end" (click)="toggleRepeatPassword()">
          <ion-icon
            [src]="showRepeatPassword ? 'assets/icon/eye-outline.svg' : 'assets/icon/eye-off-outline.svg'"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </form>

    <!-- Section Buttons -->
    <div class="section">
        <ion-button
          expand="block"
          shape="round"
          class="login-btn"
          (click)="handleRegister()"
        >
          Crear Cuenta
        </ion-button>
      </div>
  </div>


  <!-- Modals -->
  <app-basic-alert
    *ngIf="showSuccessAlert"
    [message]="'Usuario registrado con éxito.'"
    [imageUrl]="'assets/icon/check.svg'"
    [confirmText]="'Regresar'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="navigateToLogin()"
  >
  </app-basic-alert>

  <app-basic-alert
    *ngIf="showGenericAlert"
    [message]="'No se pudo completar la acción. Por favor, intenta nuevamente.'"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="showGenericAlert = false"
  >
  </app-basic-alert>

  <app-basic-alert
    *ngIf="showUnauthorizedAlert"
    [message]="messageError"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="showUnauthorizedAlert = false"
  >
  </app-basic-alert>
  
</ion-content>
