<ion-content class="auth-content" scroll-y="false">
  <div class="background-curve"></div>

  <div class="register-container">
    <div class="header-section">
      <div class="back-icon" (click)="goBack()">
        <ion-icon class="icon" src="assets/icon/left.svg"></ion-icon>
      </div>
      <div class="icon-wrapper">
        <ion-icon src="assets/icon/user-plus.svg" class="main-icon"></ion-icon>
      </div>
      <h1>Bienvenido</h1>
      <p>Crea tu cuenta para comenzar</p>
    </div>

    <form class="register-form" [formGroup]="registerForm">
      <ion-item lines="none" class="form-item">
        <ion-icon slot="start" src="assets/icon/user.svg"></ion-icon>
        <ion-input
          type="text"
          placeholder="Nombres"
          formControlName="name"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon slot="start" src="assets/icon/user.svg"></ion-icon>
        <ion-input
          type="text"
          placeholder="Apellidos"
          formControlName="lastName"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon slot="start" src="assets/icon/mail.svg"></ion-icon>
        <ion-input
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon slot="start" src="assets/icon/password.svg"></ion-icon>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          formControlName="password"
          required
        ></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePassword()">
          <ion-icon
            [src]="showPassword ? 'assets/icon/eye-outline.svg' : 'assets/icon/eye-off-outline.svg'"
          ></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-icon slot="start" src="assets/icon/password.svg"></ion-icon>
        <ion-input
          [type]="showRepeatPassword ? 'text' : 'password'"
          placeholder="Repite la Contraseña"
          formControlName="repeatPassword"
          required
        ></ion-input>
        <ion-button fill="clear" slot="end" (click)="toggleRepeatPassword()">
          <ion-icon
            [src]="showRepeatPassword ? 'assets/icon/eye-outline.svg' : 'assets/icon/eye-off-outline.svg'"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </form>

      <ion-button
        expand="block"
        shape="round"
        class="register-btn"
        (click)="handleRegister()"
      >
        Crear Cuenta
      </ion-button>
  </div>

  <!-- Alerts -->
  <app-basic-alert
    *ngIf="showSuccessAlert"
    [message]="'Usuario registrado con éxito.'"
    [imageUrl]="'assets/icon/check.svg'"
    [confirmText]="'Ir a Login'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="handleSuccessConfirm()"
  >
  </app-basic-alert>

  <app-basic-alert
    *ngIf="showGenericAlert"
    [message]="'No se pudo completar la acción. Por favor, intenta nuevamente.'"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="closeAlerts()"
  >
  </app-basic-alert>

  <app-basic-alert
    *ngIf="showUnauthorizedAlert"
    [message]="messageError"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="closeAlerts()"
  >
  </app-basic-alert>
</ion-content>
