<ion-content [fullscreen]="true" class="auth-content">
  <div class="background-curve"></div>

  <div class="login-container">
    <!-- Logo/Header -->
    <div class="header">
      <ion-img src="assets/image/logo.png" class="logo"></ion-img>
      <h1>Bienvenido</h1>
      <p>Inicia sesión para continuar</p>
    </div>

    <!-- Formulario -->
    <form class="login-form">


      <div class="section">
        <div class="label-links">
          <ion-button expand="block" fill="clear" size="small" class="ion-text-center label-links" (click)="toNavigate()">
            ¿Olvidaste tu contraseña?
          </ion-button>
        </div>

      </div>
    </form>
  </div>
</ion-content>
