<ion-content [fullscreen]="true" scroll-y="false">
  <div class="content">
    <!-- Tabs de Gastos e Ingresos -->
    <div class="">
      <app-custom-segment
        [options]="dataTabs"
        [(model)]="segment"
        segmentClass="main-tabs"
        (modelChange)="onSegmentChanged($event)">
      </app-custom-segment>
    </div>
    <!-- Cuadrícula de categorías dinámica -->
    <div class="categories-grid">
      <ng-container *ngIf="categoriasActuales.length > 0; else soloAgregar">
        <ng-container *ngFor="let cat of categoriasActuales">
          <div class="category-btn" (click)="goToEditCategories(segment, cat)">
            <div class="category-icon-circle" [ngStyle]="{'background': cat.color}">
              <ion-icon src="assets/icon/{{cat.icono}}.svg"></ion-icon>
            </div>
            <span class="category-label text-small">{{cat.nombre}}</span>
          </div>
        </ng-container>
        <div class="category-btn agregar-btn" (click)="goToCreateCategories(segment)">
          <div class="category-icon-add">
            <ion-icon slot="add" src="assets/icon/add.svg"></ion-icon>
          </div>
          <span class="category-label agregar-label text-small">Agregar</span>
        </div>
      </ng-container>
      <ng-template #soloAgregar>
        <div class="category-btn agregar-btn" (click)="goToCreateCategories(segment)">
          <div class="category-icon-add">
            <ion-icon slot="add" src="assets/icon/add.svg"></ion-icon>
          </div>
          <span class="category-label agregar-label text-small">Agregar</span>
        </div>
      </ng-template>
    </div>
  </div>


</ion-content>

