<ion-content
  [fullscreen]="true"
  class="auth-content"
  scroll-y="false">

  <!-- BACKGROUND -->

  <div class="background-curve"></div>

  <!-- BACK BUTTON -->

  <div
    class="back-icon"
    (click)="goBack()">

    <ion-icon
      class="icon"
      src="assets/icon/left.svg">
    </ion-icon>

  </div>

  <!-- CONTAINER -->

  <div class="forgot-container">

    <!-- HEADER -->

    <div class="header-section">

      <div class="icon-wrapper">

        <ion-icon
          src="assets/icon/user-question.svg"
          class="main-icon">
        </ion-icon>

      </div>

      <h1 class="text-title forgot-title">
        Recupera tu Contraseña
      </h1>

      <p class="text-body forgot-subtitle">
        Ingresa los siguientes datos
      </p>

    </div>

    <!-- FORM -->

    <form
      class="forgot-form"
      [formGroup]="forgotForm">

      <!-- EMAIL -->

      <ion-item
        lines="none"
        class="form-item">

        <ion-icon
          slot="start"
          src="assets/icon/mail.svg">
        </ion-icon>

        <ion-input
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
          required>
        </ion-input>

      </ion-item>

      <!-- NEW PASSWORD -->

      <ion-item
        lines="none"
        class="form-item">

        <ion-icon
          slot="start"
          src="assets/icon/password.svg">
        </ion-icon>

        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Nueva Contraseña"
          formControlName="password"
          required>
        </ion-input>

        <ion-button
          fill="clear"
          slot="end"
          class="eye-toggle-btn"
          (click)="togglePassword()">

          <ion-icon
            [src]="showPassword
              ? 'assets/icon/eye-outline.svg'
              : 'assets/icon/eye-off-outline.svg'">
          </ion-icon>

        </ion-button>

      </ion-item>

      <!-- CONFIRM PASSWORD -->

      <ion-item
        lines="none"
        class="form-item">

        <ion-icon
          slot="start"
          src="assets/icon/password.svg">
        </ion-icon>

        <ion-input
          [type]="showRepeatPassword ? 'text' : 'password'"
          placeholder="Repite la Contraseña"
          formControlName="repeatPassword"
          required>
        </ion-input>

        <ion-button
          fill="clear"
          slot="end"
          class="eye-toggle-btn"
          (click)="toggleRepeatPassword()">

          <ion-icon
            [src]="showRepeatPassword
              ? 'assets/icon/eye-outline.svg'
              : 'assets/icon/eye-off-outline.svg'">
          </ion-icon>

        </ion-button>

      </ion-item>

      <!-- SUBMIT -->

      <ion-button
        expand="block"
        shape="round"
        class="forgot-btn"
        (click)="handleForgotPassword()">

        Restablecer Contraseña

      </ion-button>

    </form>

  </div>

  <!-- ALERTS -->

  <app-custom-alert
    *ngIf="showGenericAlert"
    header=""
    [message]="'No se pudo completar la acción. Por favor, intenta nuevamente.'"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="closeAlerts()">
  </app-custom-alert>

  <app-custom-alert
    *ngIf="showUnauthorizedAlert"
    header=""
    [message]="messageError"
    [imageUrl]="'assets/icon/alert-triangle.svg'"
    [confirmText]="'Entendido'"
    [alertSize]="'medium'"
    [reverseButtons]="true"
    [showCancel]="false"
    (onConfirm)="closeAlerts()">
  </app-custom-alert>

</ion-content>
