<ion-content [fullscreen]="true" class="auth-content">
  <div class="background-container"></div>
  <div class="container">
    <div class="header"></div>
    <div class="main-content">
      <section class="content-area">
        <h1>Introduzca el saldo de su cuenta principal</h1>
        <p>Mas adelante tendrá la opción de poder ingresar mas cuentas.</p>
        <form class="content-form" [formGroup]="dataForm">
          <ion-item class="input-item">
            <ion-input
              type="number"
              formControlName="amount"
              placeholder="Ingresa tu Saldo Base"
              required
              inputmode="decimal"
              class="custom-input">
            </ion-input>
          </ion-item>
        </form>
      </section>
      <div class="section-buttons">
        <ion-button
          expand="block"
          shape="round"
          class="custom-btn"
          (click)="handleContinueButton()"
          [disabled]="dataForm.invalid">
          Siguiente
        </ion-button>
      </div>
    </div>
    <footer class="footer"></footer>
  </div>
</ion-content>
