<button
  type="button"
  class="amount-list-item"
  [class.amount-list-item--success]="amountTone === 'success'"
  [class.amount-list-item--interactive]="interactive"
  [style.--item-color]="color"
  [disabled]="!interactive"
  [attr.aria-label]="ariaLabel || null"
  (click)="activate()">
  <app-item-icon
    [icon]="icon"
    [color]="color"
    size="sm"
    variant="soft"
    aria-hidden="true">
  </app-item-icon>

  <span class="amount-list-item__content">
    <strong>{{ title }}</strong>
    <span *ngIf="percentage !== null; else subtitleOnly" class="amount-list-item__meta">
      <small class="amount-list-item__percentage">
        {{ percentage | number:'1.0-1' }}%
      </small>
      <span class="amount-list-item__track" aria-hidden="true">
        <i [style.width.%]="percentage"></i>
      </span>
    </span>
    <ng-template #subtitleOnly>
      <small class="amount-list-item__subtitle">{{ subtitle }}</small>
    </ng-template>
  </span>

  <strong class="amount-list-item__amount">
    {{ amountPrefix }}{{ amount < 0 ? '-' : '' }}{{ currencySymbol }} {{ (amount < 0 ? -amount : amount) | number:'1.2-2' }}
  </strong>

  <img
    class="amount-list-item__chevron"
    src="assets/icon/right-inline.svg"
    alt=""
    aria-hidden="true">
</button>
