@use '../../../../shared/styles/category-form';

.edit-category-page {
  --background: var(--fv-background);
}

.edit-category-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  padding-bottom: 16px;
}

.readonly-type {
  display: flex;
  align-items: center;
}

.action-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 4px;
}

.delete-button {
  /* estilos */
}
