<ion-split-pane contentId="main-content">

  <!-- Contenido principal -->
  <ion-content id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="stat-card">
      <h3>35%</h3>
      <p>Proyectos</p>
    </div>
    <div class="stat-card">
      <h3>25%</h3>
      <p>Tareas</p>
    </div>
    <div class="stat-card">
      <h3>20%</h3>
      <p>Completado</p>
    </div>
    <div class="stat-card">
      <h3>20%</h3>
      <p>Pendiente</p>
    </div>
  </ion-content>
</ion-split-pane>