<ion-content [fullscreen]="true" scroll-y="false">
  <div class="content">

    <app-feature-header
      title="Gráficos"
      description="Analiza la evolución y distribución de tus movimientos."
      imageSrc="assets/image/graphics-header.svg"
      imageAlt="Gráfico financiero">
    </app-feature-header>

    <!-- Filtros -->
    <div class="filter-container">
      <app-custom-segment
        [options]="mainTabs"
        [(model)]="selectedTab"
        segmentClass="main-tabs"
        (modelChange)="updateChart()">
      </app-custom-segment>
      <app-custom-segment
        [options]="periodTabs"
        [(model)]="selectedPeriod"
        segmentClass="period-tabs"
        (modelChange)="updateChart()">
      </app-custom-segment>
    </div>

    <!-- Gráfica -->
    <div class="chart-card">
      <div
        *ngIf="selectedPeriod === 'semana' && selectedMonthForWeek && selectedYearForWeek"
        class="year-label">
        <ion-text color="medium">
          <small>
            Fecha: {{ selectedMonthForWeek | number:'2.0' }}/{{ selectedYearForWeek }}
          </small>
        </ion-text>
      </div>

      <div *ngIf="chartData && chartData.length > 0; else noData" class="apex-wrapper">
        <app-custom-chart
          [series]="chartOptions.series"
          [categories]="chartOptions.xaxis.categories"
          [chartType]="'bar'"
          [colors]="['#5e9c87', '#f7c948', '#6cb2eb', '#f86c6b']">
        </app-custom-chart>
      </div>
      <ng-template #noData>
        <ion-text color="medium" class="no-data-text">
          <p>No hay datos para mostrar.</p>
        </ion-text>
      </ng-template>
    </div>

  </div>
</ion-content>
